$iv-icon-font-family: "icomoon" !default;
$iv-icon-font-path: "~@/assets/fonts/icons" !default;

$iv-icon-close-pop-up: "\e900";
$iv-icon-cancel-loading-video-hover: "\e901";
$iv-icon-cancel-loading-video: "\e902";
$iv-icon-back: "\e903";
$iv-icon-export-file-hover: "\e904";
$iv-icon-export-file: "\e905";
$iv-icon-add-hover: "\e906";
$iv-icon-add: "\e907";
$iv-icon-toggle-active-path1: "\e908";
$iv-icon-toggle-active-path2: "\e909";
$iv-icon-toggle-hover-path1: "\e90a";
$iv-icon-toggle-hover-path2: "\e90b";
$iv-icon-toggle-path1: "\e90c";
$iv-icon-toggle-path2: "\e90d";
$iv-icon-information-hover: "\e90e";
$iv-icon-information: "\e90f";
$iv-icon-close-eye: "\e910";
$iv-icon-eye: "\e911";
$iv-icon-edit-hover: "\e912";
$iv-icon-edit: "\e913";
$iv-icon-delete-hover: "\e914";
$iv-icon-delete: "\e915";
$iv-icon-alert-reverse: "\e916";
$iv-icon-alert: "\e917";
$iv-icon-accept-reverse: "\e918";
$iv-icon-accept: "\e919";
$iv-icon-help-hover: "\e91a";
$iv-icon-help: "\e91b";
$iv-icon-language-hover: "\e91c";
$iv-icon-language: "\e91d";
$iv-icon-log-out-hover: "\e91e";
$iv-icon-log-out: "\e91f";
$iv-icon-model-performance-hover: "\e920";
$iv-icon-model-performance: "\e921";
$iv-icon-my-database-hover: "\e922";
$iv-icon-my-database: "\e923";
$iv-icon-icon-my-profile-hover: "\e924";
$iv-icon-my-profile: "\e925";
$iv-icon-new-egg-retrieval-hover: "\e926";
$iv-icon-new-egg-retrieval: "\e927";
$iv-icon-settings-hover: "\e928";
$iv-icon-settings: "\e929";

