@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?s0woes');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?s0woes#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?s0woes') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?s0woes') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?s0woes##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iv-icon-close-pop-up {
  &:before {
    content: $iv-icon-close-pop-up;     
    color: #c2cfe0;
  }
}
.iv-icon-cancel-loading-video-hover {
  &:before {
    content: $iv-icon-cancel-loading-video-hover;     
    color: #a497ff;
  }
}
.iv-icon-cancel-loading-video {
  &:before {
    content: $iv-icon-cancel-loading-video;     
    color: #564ba4;
  }
}
.iv-icon-back {
  &:before {
    content: $iv-icon-back;     
    color: #564ba4;
  }
}
.iv-icon-export-file-hover {
  &:before {
    content: $iv-icon-export-file-hover;     
    color: #a497ff;
  }
}
.iv-icon-export-file {
  &:before {
    content: $iv-icon-export-file;     
    color: #564ba4;
  }
}
.iv-icon-add-hover {
  &:before {
    content: $iv-icon-add-hover;     
    color: #a497ff;
  }
}
.iv-icon-add {
  &:before {
    content: $iv-icon-add;     
    color: #564ba4;
  }
}
.iv-icon-toggle-active .path1 {
  &:before {
    content: $iv-icon-toggle-active-path1;  
    color: rgb(86, 75, 164);
  }
}
.iv-icon-toggle-active .path2 {
  &:before {
    content: $iv-icon-toggle-active-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.iv-icon-toggle-hover .path1 {
  &:before {
    content: $iv-icon-toggle-hover-path1;  
    color: rgb(164, 151, 255);
  }
}
.iv-icon-toggle-hover .path2 {
  &:before {
    content: $iv-icon-toggle-hover-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.iv-icon-toggle .path1 {
  &:before {
    content: $iv-icon-toggle-path1;  
    color: rgb(194, 207, 224);
  }
}
.iv-icon-toggle .path2 {
  &:before {
    content: $iv-icon-toggle-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.iv-icon-information-hover {
  &:before {
    content: $iv-icon-information-hover;     
    color: #a497ff;
  }
}
.iv-icon-information {
  &:before {
    content: $iv-icon-information;     
    color: #c2cfe0;
  }
}
.iv-icon-close-eye {
  &:before {
    content: $iv-icon-close-eye;     
    color: #c2cfe0;
  }
}
.iv-icon-eye {
  &:before {
    content: $iv-icon-eye;     
    color: #c2cfe0;
  }
}
.iv-icon-edit-hover {
  &:before {
    content: $iv-icon-edit-hover;     
    color: #a5a6f6;
  }
}
.iv-icon-edit {
  &:before {
    content: $iv-icon-edit;     
    color: #c2cfe0;
  }
}
.iv-icon-delete-hover {
  &:before {
    content: $iv-icon-delete-hover;     
    color: #a497ff;
  }
}
.iv-icon-delete {
  &:before {
    content: $iv-icon-delete;     
    color: #c2cfe0;
  }
}
.iv-icon-alert-reverse {
  &:before {
    content: $iv-icon-alert-reverse;     
    color: #fff;
  }
}
.iv-icon-alert {
  &:before {
    content: $iv-icon-alert;     
    color: #fd0054;
  }
}
.iv-icon-accept-reverse {
  &:before {
    content: $iv-icon-accept-reverse;     
    color: #fff;
  }
}
.iv-icon-accept {
  &:before {
    content: $iv-icon-accept;     
    color: #2ed47a;
  }
}
.iv-icon-help-hover {
  &:before {
    content: $iv-icon-help-hover;     
    color: #a497ff;
  }
}
.iv-icon-help {
  &:before {
    content: $iv-icon-help;     
    color: #c2cfe0;
  }
}
.iv-icon-language-hover {
  &:before {
    content: $iv-icon-language-hover;     
    color: #a497ff;
  }
}
.iv-icon-language {
  &:before {
    content: $iv-icon-language;     
    color: #c2cfe0;
  }
}
.iv-icon-log-out-hover {
  &:before {
    content: $iv-icon-log-out-hover;     
    color: #a497ff;
  }
}
.iv-icon-log-out {
  &:before {
    content: $iv-icon-log-out;     
    color: #c2cfe0;
  }
}
.iv-icon-model-performance-hover {
  &:before {
    content: $iv-icon-model-performance-hover;     
    color: #a497ff;
  }
}
.iv-icon-model-performance {
  &:before {
    content: $iv-icon-model-performance;     
    color: #c2cfe0;
  }
}
.iv-icon-my-database-hover {
  &:before {
    content: $iv-icon-my-database-hover;     
    color: #a497ff;
  }
}
.iv-icon-my-database {
  &:before {
    content: $iv-icon-my-database;     
    color: #c2cfe0;
  }
}
.iv-icon-icon-my-profile-hover {
  &:before {
    content: $iv-icon-icon-my-profile-hover;     
    color: #a497ff;
  }
}
.iv-icon-my-profile {
  &:before {
    content: $iv-icon-my-profile;     
    color: #c2cfe0;
  }
}
.iv-icon-new-egg-retrieval-hover {
  &:before {
    content: $iv-icon-new-egg-retrieval-hover;     
    color: #a497ff;
  }
}
.iv-icon-new-egg-retrieval {
  &:before {
    content: $iv-icon-new-egg-retrieval;     
    color: #c2cfe0;
  }
}
.iv-icon-settings-hover {
  &:before {
    content: $iv-icon-settings-hover;     
    color: #a497ff;
  }
}
.iv-icon-settings {
  &:before {
    content: $iv-icon-settings;     
    color: #c2cfe0;
  }
}

